<!DOCTYPE html>
<html lang="en">
<head>
  <title>Automated Essay Grading</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 20px;
    }

    .r1
    {
    	border-radius: 3px;
    }
    .tabs-info {
    background-color: #33b5e5 !important;
    color: white;
}
</style>
</head>
<body>

<div class="container">
	  <nav class="navbar navbar-expand-md  r1 tabs-info">
       
            
            <h4>Automated Essay Grading</h4>
        

        
    </nav><br>
  
 
  <p>Automated essay scoring (AES) is the use of specialized computer programs to assign grades to essays written in an educational setting. It is a method of educational assessment and an application of natural language processing. of set-1 essay</p>
  <div class="container-fluid bg-light py-3">
    <form id="contact-form" method="post" action="contact.php" role="form">
        <div class="messages"></div>
        <div class="controls">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_name">RMAE *</label>
                        <input id="form_name" type="text" name="mean" class="form-control" placeholder="mean absolute error*" required="required" data-error="name is required." value="{{ status['rmse'] }}">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_email">Kappa Score *</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="root mean squard error*" required="required" data-error="Valid email is required." value="{{ status['kappa'] }}">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_phone">Essay Score</label>
                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Essay prediction score" value="{{ status['pred'] }}">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

        <form id="contact-form" action="{{ url_for('output') }}" method="post" role="form">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Essay *</label>
                    <textarea id="form_message" name="essay" class="form-control" placeholder="Weite Essay *" rows="8" required="required" data-error="send a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary btn-send" value="Grading Essay">
            </div>
        </div>
        
    </form>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue  tabs-info r1">

  <div class="footer-copyright text-center py-3 ">   <a href="https://github.com/panditrahulsharma/Automated-Essay-Grading">Design by Rahul Pandit</a>
</div>


</footer>

</div>


</body>
</html>
